
<html>
<head>
    <!-- <title>{% block title %}{% endblock %}</title> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ app.request.basepath }}/templates/home/js/vendor/jquery.js"></script>
    <script src="{{ app.request.basepath }}/templates/home/js/foundation.min.js"></script>
    <link rel="stylesheet" href="{{ app.request.basepath }}/templates/home/css/foundation.css" />
    <link rel="stylesheet" href="{{ app.request.basepath }}/templates/home/css/style.css" />
    <link href="{{ app.request.basepath }}/templates/home/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        
    </script>
</head>
<body>

    <div class="container">
        {% block maincontent %}
        {% endblock %}
    </div>
    <script src="{{ app.request.basepath }}/templates/home/js/function.js"></script>
    <script src="{{ app.request.basepath }}/templates/home/js/vendor/fastclick.js"></script>
    <script src="{{ app.request.basepath }}/templates/home/js/vendor/modernizr.js"></script>
    <script src="{{ app.request.basepath }}/templates/home/js/vendor/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/templates/home/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript">
        var basepath = "{{ app.request.basepath }}";
        $(document).foundation().foundation('joyride', 'start');
        $(document).ready(function(){
            {% block mainjquery %}
            {% endblock %}
        });
    </script>
</body>
</html>
