<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ app.source }}home/js/vendor/jquery.js"></script>
    <script src="{{ app.source }}home/js/foundation.min.js"></script>
    <link rel="stylesheet" href="{{ app.source }}home/css/foundation.css" />
    <link rel="stylesheet" href="{{ app.source }}home/css/style.css" />
	<link href="{{ app.source }}home/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
    var basepath = "{{ app.request.basepath }}";

		$(document).ready(function(){
		});
    </script>
</head>
<body>



	<div class="row full-height split-page" style="padding:20px;">
	<div id="new-producto" onclick="newProducto()">Nuevo</div>
		<div id="main-tab">
			<table>
				<thead>
					<tr >
						<th width="200" >Nombre</th>
						<th width="400" >Descripción</th>
						<th width="150" >Precio Proveedor</th>
						<th width="150" >Precio Usuario</th>
						<th width="150" ></th>
					</tr>
				</thead>
				<tbody>
					{{table|raw}}
				</tbody>
			</table>
		</div>

</div>
 	<script src="{{ app.source }}home/js/function.js"></script>
    <script src="{{ app.source }}home/js/vendor/fastclick.js"></script>
	<script src="{{ app.source }}home/js/vendor/modernizr.js"></script>
	<script src="{{ app.source }}home/js/vendor/jquery.cookie.js"></script>
	<script src="{{ app.source }}home/fancybox/jquery.fancybox.js"></script>

	


</body>
</html>	


