<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{{ app.request.basepath }}/templates/home/js/vendor/jquery.js"></script>
    <script src="{{ app.request.basepath }}/templates/home/js/foundation.min.js"></script>
    <link rel="stylesheet" href="{{ app.request.basepath }}/templates/home/css/foundation.css" />
    <link rel="stylesheet" href="{{ app.request.basepath }}/templates/home/css/style.css" />
	<link href="{{ app.request.basepath }}/templates/home/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
    	var basepath = "{{ app.request.basepath }}";
    	$(document).foundation();
		$(document).ready(function(){

			$( "#register-sale" ).delegate( ".remove-item", "click", function() {
				$(this).parent().remove();
			});

			$( "#register-sale" ).delegate( ".select_product", "change", function() {
				var id = $(this).val();
				var block = $(this).parent().html();
			});

		});
    </script>
</head>
<body>

	{{menu|raw}}

	<div class="row full-height split-page" style="padding:20px;">


	<div class="new-item-sale" onclick="newItemSale()">Nuevo</div>
	<form id="register-sale" name="register-sale" method="post" action="./registersale">

		<div class="row medium-uncollapse large-collapse">
			<div class="large-12 columns">
				<label>Cliente:
				{{client|raw}}
				</label>
			</div>
		</div>

		<div class="item-sale row medium-uncollapse large-collapse">
			{{productSale|raw}}
		</div>

		<div class="row medium-uncollapse large-collapse">
			<ul class="stack button-group">
				<!--<li><a href="#" class="button" onclick="sale();" >Guardar</a></li>-->
				<li><input type="submit" value="Guardar" class="button"/></li>
			</ul>		
		</div>

	</form>
</div>
 	<script src="{{ app.request.basepath }}/templates/home/js/function.js"></script>
    <script src="{{ app.request.basepath }}/templates/home/js/vendor/fastclick.js"></script>
	<script src="{{ app.request.basepath }}/templates/home/js/vendor/modernizr.js"></script>
	<script src="{{ app.request.basepath }}/templates/home/js/vendor/jquery.cookie.js"></script>
	

	<script type="text/javascript" src="{{ app.request.basepath }}/templates/home/fancybox/jquery.fancybox.js"></script>


</body>
</html>	


